<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Random movie generator from year and genre">
    <title>Random Movie</title>
    <link rel="stylesheet" href="/styles/darkMode.css">
    <link rel="stylesheet" href="styles/index.css">
    <script src="/scripts/handleDarkMode.js" type="module" defer></script>
    <script src="/scripts/handleFooter.js" type="module" defer></script>
</head>

<body>
    <div id="home">
        <header>
            <a href="/">
                <img src="#" alt="logotipo" loading="lazy">
            </a>
            <label for="switch" class="sr-only">dark mode switch</label>
            <input type="checkbox" name="switch" id="switch">
        </header>
        <main>
            <div id="content">
                <form action="/movies" method="get">
                    <div class="form-control">
                        <label for="genre">Select a genre</label>
                        <input type="text" name="genre" id="genre" list="genres">
                        <datalist id="genres">

                            <% genres.forEach((genre)=>{ %>

                                <option value="<%=genre%>"></option>

                                <% }) %>

                        </datalist>
                    </div>
                    <div class="form-control">
                        <label for="year">Select a year</label>
                        <input type="number" name="year" id="year" min="1895" max="<%-year%>">
                    </div>
                    <div class="form-control">
                        <input type="submit" value="Search">
                    </div>
                </form>
            </div>
        </main>
        <footer>footer</footer>
    </div>
</body>

</html>