@import "_global";
@import "_grid_system";

#movie {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 85vh 5vh;

  header {
    @include flex(space-between, center);
    padding: 1rem;
  }

  main {
    @include flex(center, center);
    padding: 1rem;
    overflow: auto;

    #content {
      width: 100%;
      height: 100%;
    }
  }

  #image-container {
    img {
      height: auto;
      width: 100%;
    }
  }

  #info-container {
    padding: 1rem;

    li {
      margin-top: 1rem;
      filter: opacity(75%);

      & span {
        font-weight: bolder;
      }
    }
  }

  footer {
    @include flex(center, center);
    padding: 1rem;
    filter: opacity(50%);
  }
}
